@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
--BrightBlue: hsl(220, 98%, 61%);
--CheckBackground: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));

/* ### Neutral */

/* ### Light Theme */

--VeryLightGray: hsl(0, 0%, 98%);
--VeryLighGrayishBlue: hsl(236, 33%, 92%);
--LightGrayishBlue: hsl(233, 11%, 84%);
--DarkGrayishBlue: hsl(236, 9%, 61%);
--VeryDarkrayishBlue: hsl(235, 19%, 35%);

/* ### Dark Theme */

--VeryDarklue: hsl(235, 21%, 11%);
--VeryDarkesaturatedBlue: hsl(235, 24%, 19%);
--LightGrayishBlue: hsl(234, 39%, 85%);
--LightGrayishBluehover: hsl(236, 33%, 92%);
--DarkGrayishBlue: hsl(234, 11%, 52%);
--VeryDarkrayishBlue: hsl(233, 14%, 35%);
--VeryDarkrayishBlue: hsl(237, 14%, 26%);

/* ## Typography */

/* ### Body Copy */

--Fontsize: 18px;

}


* {
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html,
  body{
      margin: 0;
      padding: 0;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Josephine Sans", Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color:var(--VeryLighGrayishBlue);
  }

/*----------------background Image top-------*/
.bg-image-light{
    background-image: url('/images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height:200px;
}

.bg-image-dark{
    background-image: url('/images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height:200px;
    display: none;
}

.todo {
    color: var(--VeryLightGray);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 20px;
}


.moon {
    background-image: url('/images/icon-moon.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    right: 20px;
}

.new-todo{
    background-color: white;
    position: absolute;
    top:120px;
    margin: 0 20px;
    width: 335px;
    height:50px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.new-todo-txt{
    
}
/*---------------checkbox-------------*/
.checkbox-container {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 10px;
    top: 9px;
    height: 22px;
    width: 22px;
  }
  

  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 1px solid grey;
    background-color: white;
    margin: 0 auto;
  }

  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: hsl(192, 100%, 67%);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }